// location:	~/.config/niri/config.kdl
environment {
	// GTK_THEME "Adwaita:dark"
	QT_QPA_PLATFORM "wayland"
	QT_QPA_PLATFORMTHEME "qt6ct"
	SDL_VIDEODRIVER "wayland"
}

// Input device configuration.
input {
    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        dwt
        // dwtp
        // drag false
        drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        disabled-on-external-mouse
		scroll-factor 1.5        
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}

output "eDP-1" {
    mode "2880x1800@120.000"
    scale 1.5
    transform "normal"
    position x=0 y=0
    variable-refresh-rate 
}

layout {
    // Set gaps around windows in logical pixels.
    gaps 3
	background-color "transparent"

    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.8
    }

    preset-window-heights {
    	proportion 0.3
    	proportion 0.5
    	proportion 1.0
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }

	focus-ring{
		// off
		width 1.5
	}

    // You can enable drop shadows for windows.
    shadow {
        on
        // Softness controls the shadow blur radius.
        softness 15
        // Spread expands the shadow.
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=5 y=5
        // You can also change the shadow color and opacity.
        color "#0007"
    }
}


hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

gestures {
    hot-corners {
        off
    }
}

overview {
	zoom 0.65
	backdrop-color "#777777"
	workspace-shadow {
		off
	}
}

layer-rule {
	match namespace="^noctalia-wallpaper"
	place-within-backdrop true
}

prefer-no-csd

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
	draw-border-with-background false
	background-effect {
		blur true
		xray false
	}
}

// for focused windows being darker
window-rule {
	match is-focused=true
	opacity 0.95
}

window-rule {
	match is-focused=false
	opacity 0.9
}

// fix the render conflict between niri and noctalia!
layer-rule {
	match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    background-effect {
    	blur false
        xray false
    }
}


blur {
	passes 1
	offset 1
	// noise 0.02
	saturation 1.4
}

// Animation settings.
animations {
    slowdown 1
    workspace-switch {
        spring damping-ratio=1.0 stiffness=250 epsilon=0.0001
    }

    window-open {
        duration-ms 800
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 600
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=0.75 stiffness=200 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.8 stiffness=200 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.7 stiffness=200 epsilon=0.0001
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=200 epsilon=0.0001
	}

	recent-windows-close {
        spring damping-ratio=1.0 stiffness=200 epsilon=0.001
    }

	screenshot-ui-open {
        duration-ms 1500
        curve "ease-out-quad"
    }
    
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=100 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=100 epsilon=0.01
    }
}

binds {
	// shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

	Mod+Shift+T { toggle-window-rule-opacity; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+E hotkey-overlay-title="Open FileManager" { spawn "kitty" "-e" "yazi"; } 
    Mod+T hotkey-overlay-title="Open Terminal" { spawn "kitty"; }
    Mod+space hotkey-overlay-title="launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
	Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
	
    Super+L hotkey-overlay-title="Lock" { spawn "noctalia" "msg" "session" "lock"; }
    Mod+I hotkey-overlay-title="Open noctalia Setting" { spawn-sh "noctalia msg settings-toggle"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+2%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "2%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    Mod+O repeat=false { toggle-overview; }

    Mod+X repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right; }

    // roll windows via wheel
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

	// to disable the mod+tab hot key
    Alt+Tab { spawn "true"; }
    Mod+Tab hotkey-overlay-title=null { spawn "true"; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    // Cycle through widths set in preset-column-widths.
    Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // full-screen without corner
    Mod+M { maximize-window-to-edges; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

	// print screen
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Ctrl+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Escape { quit; }
}

include "noctalia.kdl"

// start up
spawn-at-startup "noctalia"
spawn-at-startup "fcitx5" "-d"

spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"

// wait to delete
// spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
// spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
